node_modules
public
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode

.babelrc
.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.live-server.json
.nvmrc
.stylintrc
_config.yml
CNAME
data.json
favicon.ico
index.html
news.json
