<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noarchive">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
  <link rel="stylesheet" href="/assets/{{bust "styles.css"}}">
</head>
<body>

  {{{ body }}}

  <script type="text/javascript" src="/assets/{{bust "main.js"}}"></script>
</body>
</html>
