.contact-part {
  display: block;
  width: 100%;
  color: white;
  background-color: black;
  padding: 40px 0;
  justify-content: space-between;

  &__content {
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $desktop-width;
  }
  &__column {
    padding: 10px;
    width: 100%;

    //Tablet
    @media (min-width $tablet-width) {
      width: 33%;
    } //Desktop
    @media (min-width $desktop-width) {
      width: 25%;
    }
  }
  &__headline {
    color: $white;
  }
  &__text {
    line-height: 22px;
    font-size: 14px;
  }
  .social_icon{

    .fa{
      padding: 5px;
      color: white;
    }
  }
}