$gray = #eee;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: arial, sans-serif;
  color: $main-color;
}

.main-content {
  padding: 5px 10px 15px;
}
