.intro-part {
  background: url('../img/bg/intro-small.png') center top;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  position: relative;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  z-index: 1;
  height: 55vh;

  @media (min-width $content-width) {
    background: url('../img/bg/intro.jpg') center top;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 70vh;
  }

  &__image {
    position: absolute;
    padding: 0 15px;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    @media (min-width $desktop-width) {
      width: auto;
      top: 60%;
    }
  }

  &__banner {
    margin: 0 auto 15px;
    width: 25%;
    max-width: 140px;
    @media (min-width $desktop-width) {
      width: 140px;
      padding: 0;
      margin: 0 auto 20px;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    color: white;
    set-font-size(16px);

    @media (min-width $content-width) {
    set-font-size(25px);
  }
}

}
