.join-us {
  width: 100%;
  background: url(../img/bg/service_bg.jpg) center bottom fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.join-us__button {
  background-color: #da9926;
  padding: 10px 13px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}

.join-us__text {
  font-size: 25px;
  line-height: 36px;
  color: white;
  margin-bottom: 20px;
}

.join-us__text-inner {
  font-weight: bold;
}
