$radius = 3px;
.news-part {
  position: relative;
  display: block;
  width: 100%;
  color: $secondary-color;
  background-position: 70% 45%;
  background-size: cover;
  padding: 40px 0;

  &--fullsize {
    background-color: $dark-gray;
    min-height: 100vh;
  }

  small {
    color: $main-color;
  }

  a {
    color: $main-color;
  }

  &__bottom {
    padding: 10px;
  }

  &__headline {
    max-width: $desktop-width;
    margin-bottom: 10px;
    color: $secondary-color;
  }

  &__headline--highlighted {
    color: $main-color;
  }

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
  }

  &__content {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    max-width: $desktop-width;
    flex-direction: column;
    justify-content: space-between;

    &--headline {
      justify-content: left;
    }

    @media (min-width $tablet-width) {
      flex-direction: row;
    }
    &--fullsize {
      flex-direction: column;
    }
  }
  &__column {
    box-shadow: 0 0 1px $main-color;
    border-radius: $radius;
    border-right-color: $dark-gray;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: $dark-gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    background: white;
    width: 100%;

    @media (min-width $tablet-width) {
      margin: 0 5px;
    }

    @media (min-width $desktop-width) {
      margin: 0 10px;
    }

    &--fullsize {
      margin-bottom: 2rem;
    }

    img {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
  }
}
