
.pre-footer {
  display: block;
  background-color: #555;
  text-decoration: none;
  transition: background-color 250ms ease;

  &:hover {
    background-color: #333;
  }

  &__content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 15px;
    text-align: left;
    display: flex-wrap;
    align-items: center;
    justify-content: center;
    @media (min-width $tablet-width) {
      align-items: center;
    }
  }

  &__content div {
    display: inline-block;
  }

  &__content div:first-of-type,
  &__content div:last-of-type {
    width: 100%;
    @media (min-width $tablet-width) {
      width: 25%;
    }
  }

  &__content div:nth-child(2) {
    width: 100%;
    margin-bottom: 15px;
    @media (min-width $tablet-width) {
      width: 50%;
    }
  }

  &__headline {
    margin-bottom: 0;
    padding: 0;
    color: $secondary-color;
  }

  &__headline--highlighted {
    color: $main-color;
  }

  &__paragraph {
    position: relative;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 0;
    color: #fff;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }
  }

  &__paragraph + p {
    margin-top: .5em;
  }

  &__paragraph--with-img {
    position: relative;
    padding-left: 75px;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    border-radius: 50%;
  }

  &__name {
    display: block;
    font-weight: bold;
  }

  &__title {
    display: block;
    color: $main-color;
    font-size: 12px;

    @media (min-width: $tablet-width) {
        font-size: 14px;
    }
  }

  &__mail {
    display: block;
    color: $main-color;
    font-size: 14px;
  }
}
