.services-part {
  /.is-ie & {
    display: none;
  }
  background: url(../img/bg/service_bg.jpg) center bottom fixed;
  background-size: cover;
  margin-bottom: 50px;

  @media (min-width $tablet-width) {
    display: flex;
  }

  @media (min-width $desktop-width) {
    padding: 0 30px;
  }

  &__container {
    overflow: hidden;
    max-width: 620px;
    padding: 40px 0;
    margin: 0 auto;
    display: block;

    @media (min-width $tablet-width) {
      display: flex;
      max-width: $tablet-width;
    }

    @media (min-width $desktop-width) {
      max-width: 100%;
    }

    @media (min-width $xl-desktop-width) {
      max-width: 1200px;
    }
  }

  &__left, &__right {
    vertical-align: top;
    padding: 0 15px;
  }

  &__left {
    @media (min-width $xl-desktop-width) {
      .services-part__profession:first-child {
        position: relative;
        right: -151px;
      }
    }
  }

  &__middle {
    display: none;
    position: relative;
    @media (min-width $xl-desktop-width) {
      display: block;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width $tablet-width) {
      .services-part__profession-text {
        float: right;
        padding-left: 10px;
        padding-right: 0;
      }

      .services-part__profession-image {
        float: left;
      }
    }

    @media (min-width $xl-desktop-width) {
      .services-part__profession:first-child {
        padding-bottom: 30px;
        padding-top: 60px;
      }
    }
  }

  &__profession {
    padding: 10px 0;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all .6s;

    &--show {
      transform: translateX(0);
      opacity: 1;

      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }

    @media (min-width $tablet-width) {
      margin-bottom: 0;
    }

  }
  @media (min-width $desktop-width) {
    /.services-part__right & {
      transform: translateX(-100%);

      &--show {
        transform: translateX(0);
      }
    }
  }

  &__profession-text {
    color: $white;
    float: left;
    padding-right: 10px;
    width: 70%;

    h3 {
      color: $white;
      margin-bottom: 5px;
      font-weight: bold;
      text-transform: none;
    }
  }

  &__profession-image {
    float: right;
    background-color: $white;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      transform: translate3d(-50%, -50%, 0);
    }

    @media (min-width $desktop-width) {
      width: 110px;
      height: 110px;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__connector-wrapper {
    width: 180px;
    height: 100%;
  }

  &__connector {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 35px;
    opacity: 0;
    transition: all .8s;
    transform: translate(-50%, 0);

    &--animate {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__connector-line {
    height: 100px;
    content: '';
    width: 3px;
    background: white;
    display: block;
    position: absolute;
    transition: all .6s .8s;
    z-index: 1;

    &--frontend {
      top: 0;
      transform: rotate(-5deg);

      /.services-part__connector--animate & {
        left: 44%;
        top: -43%;
      }
    }

    &--backend {
      transform: rotate(-76deg);
      left: 40%;
      top: 20%;

      /.services-part__connector--animate & {
        left: -5%;
        top: 10%;
      }
    }

    &--agile {
      transform: rotate(65deg);
      right: 33%;
      top: 13%;

      /.services-part__connector--animate & {
        right: -9%;
        top: -6%;
      }
    }

    &--education {
      transform: rotate(-130deg);
      left: 30%;
      top: 13%;

      /.services-part__connector--animate & {
        left: -10%;
        top: 68%;
      }
    }

    &--architecture {
      transform: rotate(120deg);
      right: 33%;
      top: 13%;

      /.services-part__connector--animate & {
        right: -10%;
        top: 58%;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
  }
}
