.services-part {
  background: url(../img/bg/service_bg.jpg) center bottom fixed;
  background-size: cover;
  margin-bottom: 50px;

  @media (min-width $tablet-width) {
    display: flex;
  }

  &__container {
    overflow: hidden;
    max-width: 620px;
    padding: 40px 0;
    margin: 0 auto;
    display: block;

    @media (min-width $tablet-width) {
      display: flex;
    }

    @media (min-width $desktop-width) {
      max-width: 820px;
    }
  }

  &__left, &__right {
    vertical-align: top;
    padding: 0 15px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width $tablet-width) {
      .services-part__profession-text {
        float: right;
        padding-left: 10px;
        padding-right: 0;
      }
      .services-part__profession-image {
        float: left;
      }
    }
  }

  &__profession {
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all .6s;

    &--show {
      transform: translateX(0);
      opacity: 1;
    }

    @media (min-width $tablet-width) {
      margin-bottom: 0;
    }
  }

  &__profession-text {
    color: $white;
    float: left;
    padding-right: 10px;
    width: 70%;

    h3 {
      color: $white;
      margin-bottom: 5px;
      font-weight: bold;
      text-transform: none;
    }
  }

  &__profession-image {
    float: right;
    background-color: $white;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      transform: translate3d(-50%, -50%, 0);
    }

    @media (min-width $desktop-width) {
      width: 100px;
      height: 100px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
