$main-color = #d8d5b4;
$background-color = #535353;
$button-border-color = #979797;
$clinton-finished-bar-color = #07647B;
$clinton-ongoing-bar-color = #0C8BAB;
$trump-finished-bar-color = #A8313C;
$trump-ongoing-bar-color = #D85F5F;
$leader-bar-color = #D8D8D8;
