.welcome-part {
  max-width: $content-width;
  margin: 0 auto;
  padding: 55px 0;
  text-align: center;

  &__headline {
    padding: 0 0 15px 0;
    color: $secondary-color;
  }
  &__paragraph {
    line-height: 25px;
    margin-bottom: 20px;
  }
}
