.welcome-part {
  max-width: $content-width;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;


  &__headline {
    padding: 0 0 15px 0;
    color: #747473;
  }
  &__paragraph {
    line-height: 25px;
    margin-bottom: 20px;
  }

}
